@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-snpro: "SN Pro", sans-serif;
  --font-archivoBlack: "Archivo Black", sans-serif;
  --font-averiao: "Averia Sans Libre", sans-serif;
  --font-cherrySwash: "Cherry Swash", serif;
  --font-specialGothic: "Special Gothic Expanded One", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-rubik);
    background: hsla(0, 0%, 0%, 1);
    background-image: linear-gradient(to right, hsl(0, 0%, 26%) 0%, hsl(0, 0%, 0%) 100%); 

  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-averiao);
    font-weight: 700;
  }
  h1 {
    font-family: var(--font-averiao);
    font-weight: 700;
  }
}
