@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-snpro: "SN Pro", sans-serif;
  --font-archivoBlack: "Archivo Black", sans-serif;
  --font-averiao: "Averia Sans Libre", sans-serif;
  --font-specialGothic: "Special Gothic Expanded One", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-rubik);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-archivoBlack);
  }
}

@layer components {
  .dashboard {
    background-image: url('/static/images/bkgrnd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
  }
}
